.recommended-card {
  position: relative;
  overflow: hidden;
}

.recommended-image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 13rem;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.recommended-image img {
  width: 100%;
  transition: transform 0.2s;
}

.recommended-description {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.recommended-description img {
  margin-right: 5px;
}

.recommended-title h3 {
  margin-top: 10px;
}

.recommended-bookmark {
  display: flex;
  background-color: #10141e85;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 4%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.recommended-bookmark svg:hover path {
  fill: white;
}

.recommended .bookmarked svg path {
  fill: white;
}

.recommended-item:hover .recommended-hover {
  opacity: 1;
}

.recommended-card:hover .recommended-image img {
  transform: scale(1.1);
}
